div {
  padding: 5px;
}

.main-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 60px 40px 40px 1fr;
  grid-template-areas: "header      header    header"
                       "message     message   message"
                       "misc-left   assembly  misc-right"
                       "parts-left  mission   parts-right"
                       "footer      footer    footer"
}

.header {
  grid-area: header;
}

.message {
  grid-area: message;
}

.misc-left {
  grid-area: misc-left;
}

.assembly {
  grid-area: assembly;
  border: 5px solid gray;
}

.misc-right {
  grid-area: misc-right;
}

.parts-left {
  grid-area: parts-left;
}

.mission {
  grid-area: mission;
}

.parts-right {
  grid-area: parts-right;
}

.footer {
  grid-area: footer;
}

table {
  border-collapse: collapse;
}

th, td {
  font-size: .875em;
  padding: .5em .75em;
}

td {
  border: 1px solid #000;
}

.mission-part {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  height: 20rem;
  width: 20rem;
  display: inline-grid;
  margin: 1rem;
}

.mission-part-img {
  height: 19rem;
  width: 19rem;
  object-fit: contain;
}

.row-hidden {
  visibility: collapse;
}

.message-alert {
  background-color: lightcoral;
}

.message-info {
  background-color: transparent;
}

.message-notice {
  background-color: lightgreen;
}


