body {
  font-family: 'JetBrains Mono', monospace;
  font-size: .75rem;
}

div {
  padding: 5px;
}

.main-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 80px 1.5fr;
  grid-template-rows: 40px 1fr 40px;
  grid-template-areas:  "header     message     message   message"
                        "parts-left parts-right assembly  mission"
                        "footer     footer      footer    footer"
}

.header {
  grid-area: header;
  font-weight: bold;
  background-color: skyblue;
  padding: 3px;
  font-size: 1.5rem;
  font-weight: bold;
}

.message {
  grid-area: message;
  padding: 7px;
  margin: 2px;
  font-size: .875rem;
}

.parts-left {
  grid-area: parts-left;
}

.assembly {
  grid-area: assembly;
  border: 5px solid gray;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-align: center;
  letter-spacing: .5rem;
  font-size: .875rem;
  font-weight: bold;

}

.mission {
  grid-area: mission;
}

.parts-right {
  grid-area: parts-right;
}

.footer {
  grid-area: footer;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: .5em .75em;
}

td {
  border: 1px solid #000;
}

.mission-part {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  height: 10rem;
  width: 13rem;
  display: inline-grid;
  margin-top: 1rem;
  margin-right: 1rem;
}

.mission-part-img {
  height: 9rem;
  width: 13rem;
  object-fit: contain;
}

.row-hidden {
  /* visibility: collapse; */
  display: none;
}

.message-alert {
  background-color: lightcoral;
}

.message-error {
  background-color: yellow;
}

.message-info {
  background-color: transparent;
}

.message-notice {
  background-color: lightgreen;
}

.booster-part {
  background-color: black;
  color: white;
  margin-left: 1px;
  padding: 1px;
  font-size: .6875rem;
}

.list-heading {
  font-size: 1.25rem;
  font-weight: bold;
}

